
.bigdiv
{
    overflow: hidden;
    white-space: nowrap;
}
.mainMenu li:last-child
{
     border-right: none;
}
.officeColorStyle
{
background: #2b579a !important;
color: #bbd1df;
}
.officeColorStyleFont
{
background: inherit !important;
color: white;
}
ul.mainMenu li{
    display:inline;
    list-style-type:none;
}
ul.mainMenu
{
    padding: 0;
    margin-bottom: 0;
}
.sublevel {
    display:none;
}
ul.mainMenu li div , ul.mainMenu li a
{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 3%;
    border-color: #040226;
    padding: .3%;
    border:  .2%;
    margin: .3% .2% .3% .2%;
}

ul.mainMenu li a:hover
{
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
}

.imagesOfficeBar {
    color: #2b579a  !important;
}

li div:hover , .clicked
{
    color: #000c59 !important;
    background-color: #d6d2ee !important;
}
li div
{
-webkit-transition: background-color .5s
}
.Menu
{
color:white;
font-family: Arial, Helvetica, sans-serif;

}